.heading{

   
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.myform{
    margin:auto;
    padding: 5%;
    border-width:5px;
    border-style: solid;
    border-color: black;
}